@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Press+Start+2P&display=swap');
/* NAVBAR global */

.navbar{
  background-color: rgba(0,0,0,1);
  font-size: 15px;
  height: 70px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  position:fixed;
  width: 100%;
  transition: ease-in-out 0.3s;
  border-radius: 0 !important;
  border: 0;
}

.navbar.sticky{
background: #131313;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  width: 100%;
  max-width: 1200px;
  z-index: 1;
  transition: ease-in-out 0.3s;
}

.navbar-menu{
   list-style: none;
   display: flex;
   align-items: center;
   transition: ease-in-out 0.3s;
}

.navbar-menu li{
  padding:10px;
  margin-top: 12px;
}



.navbar-button{
display: flex;
justify-content: center;
align-items: center;
}

a{
  text-decoration: none;
}

#navbar-logo{
  color: white;
  display: flex;
  align-items: center;
  font-size: 20px;
}

#navbar-logo p{
font-family: 'Press Start 2P', cursive;

}

/* .navbar-links{
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 5px;
  display: block;
} */

.navbar-links {
color: #fff;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 0.15em;

display: flex;
justify-content: center;
align-items: center;
padding: 15px 20px;
position: relative;
}

.navbar-links p{
padding: 10px;
}
/* 
.navbar-links:hover{
  color:#7724ff;
  transition: all 0.2s ease;
}  */


.navbar-links:after {    
background: none repeat scroll 0 0 transparent;
bottom: 3%;
content: "";
display: block;
height: 2px;
left: 50%;
position: absolute;
background: #fff;
transition: width 0.3s ease 0s, left 0.3s ease 0s;
width: 0;
}
.navbar-links:hover:after { 
width: 100%; 
left: 0; 
}

.signin-img{
background: url("../Images/accounticon.png");
width: 25px;
height: 25px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
image-rendering: pixelated;

}

.store-img{
background: url("../Images/shoppingbag2.png");
width: 25px;
height: 25px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
image-rendering: pixelated;

}

.alien-img{
background: url("../Images/alien.png");
background-size: cover;
width: 25px;
height: 25px;
background-position: center;
background-repeat: no-repeat;
image-rendering: pixelated;

}



#acc-dropdown {
display: inline-block;
position: relative;
}
#acc-dropdown:hover {
background-color: #131313;
}
#acc-dropdown:hover > ul {
transform: scaleY(1);
}
#acc-dropdown ul {
width: 100%;
background-color: #131313;
box-shadow: 0 1px 6px 0 rgba(22, 22, 23, 0.2);
transform: scaleY(0);
transform-origin: top;
transition-duration: 0.25s;
position: absolute;
left: 0;
top: 100%;
list-style-type: none;
margin-left: 0;
padding-left: 0;

}

#acc-dropdown ul li:hover > ul {
transform: scaleY(1);
}

#acc-dropdown a{
color: #fff;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 0.15em;
display: flex;
justify-content: center;
align-items: center;
padding: 15px 20px;
position: relative;
}

#acc-dropdown a p{
padding: 10px;
}

#logout-btn{
cursor: pointer;
margin: 0;
padding: 0;
}

/* MAIN PAGE */


* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    
}

a{
  text-decoration: none !important;
}


.heading, h5, h4, h3, h2, h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-weight: 300;
  font-size: 2em;
}

h4 {
  font-weight: 300;
  font-size: 1em;
}

h5 {
  font-weight: 300;
  font-size: 1em;
}

p {
  font-family: "Poppins", sans-serif;
  color: #fafdf0;
  line-height: 1.5em;
  margin: 0;
}


body {
  background: white;
  overflow-x: hidden;
}

.product_wrap {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.store-container{
  min-height: 75vh;
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.product {
  position: relative;
  width: 18vw;
  height: auto;
  cursor: pointer;
  transform: translateY(0) translateX(0);
  transition: all 200ms;
  z-index: 1;
  box-shadow: 0 0.2vw 1vw  rgba(0,0, 0, 0.05) ;
  margin: 4%;
  border-radius: 10px;
}
#cartHolder{
  background-color: black;
  border-radius: 20%;
  z-index: 100000;
  position: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10%;
  right: 5%;
  width: 70px;
  height: 70px;
  transition: all 0.2s ease-out;
  
}
#cart{
  font-size: 25px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  position: relative;

}

#cart[active = "true"]{
  animation:  tilt-shaking 0.5s 1;
  color: #03e9f4;  

}
#cartHolder[active = "true"]{
  transform: scale(1.25);
}
@keyframes tilt-shaking {
  0% { transform: rotate(0deg)  scale(1.25);}
  25% { transform: rotate(5deg) scale(1.25); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg) scale(1.25); }
  100% { transform: rotate(0deg); }
}
#cart:hover{
  transform: scale(1.25);
}

.product-backdrop {
  position: absolute;
  width: 100%;
  height: 50%;
  opacity: 0;
  border-radius: 250%;
  transform: scale(0.5) translateY(100px);
  transition: all 180ms;
  z-index: -1;
}
.product:hover .product-backdrop{
  background: rgb(242, 242, 242);
  height: 100%;
  opacity: 1;
  border-radius: 5px;
  transform: scale(1) translateY(0px);
  border-radius: 10px;
}

.product:hover .product-img{
  background: rgb(242, 242, 242);
  filter: brightness(0.95);
  height: 100%;
  opacity: 1;
  border-radius: 5px;
  transform: scale(1) translateY(0px);
  border-radius: 10px;
  transition: all 180ms;
}

.product-img{
  width: 100%;
  margin: 0;
  height: 15vw;
  margin: 15px auto;
  border-radius: 5px;
  background: #ccc;
  z-index: 10;
  overflow: hidden;
  background-size: contain;

}


.product-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 0;
  padding: 0;
  z-index: 10;
}
.product-content-title h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  color: #000;
  transition: all 200ms ease-in-out 150ms;
}
.product-content-cost h5 {
  font-family: 'Poppins', sans-serif;
  line-height: 2em;
  font-size: 1em;
  font-weight: 400;
  color: #000;
  transition: all 200ms ease-in-out 150ms;
}

.discountShow{
  position: absolute;
  background-color: #bc2231;
  color: white;
  width: 20%;
  text-align: center;
  top:0;
  right: 0;
  border-top-right-radius: 10px;
} 
.product-buy .fa-shopping-cart{
  font-size: 15px;
  pointer-events: none;
}

.product .product-buy {
  display: flex;
  top: 27%;
  justify-content: center;
  position: absolute;
  width: 40%;
  left: 30%;
  padding: 10px 6px;
  border-radius: 30px;
  background: #f6f6f6;
  font-size: 0.8em;
  line-height: 0.8em;
  opacity: 0;
  transform: translateY(80px);
  transition: all 200ms ;
  box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.16), 0 3px 2px rgba(0, 0, 0, 0.23);
}
.product .product-buy:hover {
  box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.16), 0 3px 2px rgba(0, 0, 0, 0.23);
  background: #03e9f4;
  color: white;
}
.product .product-buy h5 {
  text-align: center;
  font-size: 1em;
  color: #7986CB;
}
.product:hover .product-buy {
  opacity: 1;
  transform: translateX(0px);
}

#add{
  margin-left: 2%;
  width: 50px;
  height: 50px;
  background-color: none;
  border: none;
  color: none ;
  text-align: center;
  transition: all 200ms;
  border-radius: 5px;
  display: none;

}
#add h1{
  font-weight: 400;
  font-size: 25px;
  margin: 0;
}

#add:hover{
  transform: scale(1.1);
  color: white;
  background-color: black;
}

.animationHolder{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;  
  height: 100%;
}
.animation{
  width: 40%;
  height: 40%;
}
.admin-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5%;
}

.admin-controls a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
  background-color: #000000;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  transition: all 100ms;
  margin-top: 3%;
}

.admin-controls a:hover{
  background-color: #03e9f4;
  transform: scale(1.1);
}

.banner{
  width: 100%;
  height: 40%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide{
  text-align: center;
}
.swiper-slide img{
  width: 100vw;
  height: 80vh;
}
.image{
  background-size: cover;
}
.swiper-title{
  width: 100%;
  position: absolute;
  bottom: 10%;
  left:0;
  z-index: 5;
  color: white;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 2vw;
}

#update-product-container{
  display: none;
  position: fixed;
  top: 20%;
  background: white;
  z-index: 5;
  border: 0.5 vw solid black;
  box-shadow: 0 0.2vw 1vw  rgba(0,0, 0, 0.5) ;
  padding: 5%;
}
#post-product-container{
  display: none;
  position: fixed;
  top: 20%;
  background: white;
  z-index: 5;
  border: 0.5 vw solid black;
  box-shadow: 0 0.2vw 1vw  rgba(0,0, 0, 0.5) ;
  padding: 5%;
}
.postCancel{
  position: absolute;
  top: 5%;
  right: 5%;
  color: black;
  cursor: pointer;
}
.cancel{
  position: absolute;
  top: 5%;
  right: 5%;
  color: black;
  cursor: pointer;
}
.welcome{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 20px;
}
.searchBar {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
}

#searchQueryInput {
  width: 60%;
  height: 6vh;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 2rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

.discount{
  margin-right: 3%;
  text-decoration: line-through;
  color: #808080 !important;
}
.product-content-cost{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}


/* FOOTER */

.footer-container{
  width: 100%;
  height: 40vh;
  background-color: #f3f3f3;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-menu{
  position: relative;
  display: flex;
}

.social-icon{
  position: relative;
}

.social-icon a{
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  margin: 0 12px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.3);
  transform: translateY(0) scale(1);
  transition: 0.3s;
}

.social-icon:hover a{
  transform: translateY(-10px) scale(1.2);
}
/*changing of background color for the icons for hover animation*/
.social-icon:nth-child(1):hover a{
  background: #00acee;
}

.social-icon:nth-child(2):hover a{
  background: #3b5998;
}
.social-icon:nth-child(3):hover a{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.social-icon:nth-child(4):hover a{
  background: black;
}
.social-icon:nth-child(5):hover a{
  background: #FF0000;
}
/*changing of the color of icons for hover animation*/
.social-icon:nth-child(1):hover a i,.social-icon:nth-child(2):hover a i,.social-icon:nth-child(3):hover a i,.social-icon:nth-child(4):hover a i,.social-icon:nth-child(5):hover a i{
  color: white;
}

.social-icon a i{
  font-size: 30px;
  color: #000;
  line-height: 60px;
}

.social-icon span{
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%,-50%) scale(0);
  font-size:16px;
  z-index: 1;
  transition: 0.3s;

}











/* MEDIA QUERIES */

@media (  max-width: 1100px){
  .swiper-slide img{
    height: 53vh;
    margin-top: 5vh;
  }

  .product_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .product {
    position: relative;
    width: 30vw;
    height: auto;
    transition: all 200ms;
    z-index: 1;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 80px;
  }

}

@media ( max-width: 920px){
  
  .swiper-slide img{
    height: 50vh;
    margin-top: 5vh;
  }

  .product_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .product {
    position: relative;
    width: 40vw;
    height: auto;
    transition: all 200ms;
    z-index: 1;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 80px;
  }

  


 }


@media (max-width: 768px){

  
  .product_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .product {
    position: relative;
    width: 100vw;
    height: auto;
    transition: all 200ms;
    z-index: 1;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 80px;
    box-shadow: none;
  }

  .discountShow{
    position: absolute;
    background-color: #bc2231;
    color: white;
    width: 10%;
    text-align: center;
    top:0;
    right: 20%;
    border-top-right-radius: 0px;
  } 


  .product:hover .product-buy {
    opacity: 1;
    transform: none;
  }

  .product .product-buy {
    top: 100%;
    width: 20%;
    height: 10%;
    left: 40%;
    padding: 10px 6px;
    border-radius: 20px;
    color: white;
    background: #000;
    font-size: 0.8em;
    line-height: 0.8em;
    opacity: 1;
    transform: translateY(0);
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .product-backdrop {
    opacity: 1;
    border-radius: 250%;
    transform: none;
    transition: none;
  }
  .product:hover .product-backdrop{
    background: none;
    height: 100%;
    transform: none;
  }
  
  .product:hover .product-img{
    background: none;
    filter: none;
    height: 100%;
    opacity: 1;
    transform: none;
  }

  .product .product-buy:hover {
    box-shadow: none;
    background: #000;
    color: white;
  }

   .swiper-slide img{
    height: 45vh;
    margin-top: 5vh;
  }
   #searchQueryInput{
    font-size: 2rem;
    height: 6vh;
   }


  
/* NAVBAR */
.navbar-container{
  padding: 0;
}

.navbar-menu{
  display:grid;
  grid-template-columns: auto;
  top: -1000px;
  opacity: 0;
  transition: all 0.3s ease;
  height: 200px;
  z-index: -1;
  width: 100%;
  position: absolute;
}

.navbar-menu.active{
  background: #131313;
  top: 100%;
  opacity: 1;
  transition: all 0.3s ease;
  z-index: 999;
  min-height: 200px;
  height: fit-content;
  font-size: 12px;
  padding: 0;
}

.navbar-toggle .bar{
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: white;
  display: block;
  cursor: pointer;
}

.navbar-menu li{
  padding:0;
}

.navbar-button{
  width: 100%;
}

.navbar-links{
  padding: 0;
  margin-left: -8%; 
}

#navbar-logo{
  padding-left: 25px;
}


#mobile-menu{
  position: absolute;
  right: 2%;
}

#mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}

}

@media (max-width :768px) {
  .navbar-container{
    padding: 0;
}

.navbar-menu{
    display:grid;
    grid-template-columns: auto;
    top: -1000px;
    opacity: 0;
    transition: all 0.3s ease;
    height: 200px;
    z-index: -1;
    width: 100%;
    position: absolute;
}

.navbar-menu.active{
    background: #131313;
    top: 100%;
    padding: 0;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 999;
    height: 200px;
    font-size: 12px;
}

.navbar-toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
    display: block;
    cursor: pointer;
}

.navbar-menu li{
    padding:0;
}

.navbar-button{
    width: 100%;
}

.navbar-links{
    padding: 0;
    margin: 0;
    left: 0;
    right: 0; 
}



#navbar-logo{
    padding-left: 25px;
}


#mobile-menu{
    position: absolute;
    top: -10%;
    right: 0;
    transform: translate(5%, 20%);
}

#mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
}

@media (max-width: 640px){
  #update-product-container{
    top: 25%;
  }

  .product_wrap {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }

  .product {
    position: relative;
    width: 100vw;
    height: auto;
    transition: all 200ms;
    z-index: 1;
    margin-left: 0;
    margin-right: 0;
    box-shadow: none;
  }

  .product .product-buy {
    top: 100%;
    width: 25%;
    height: 10%;
    left: 37.5%;
    padding: 10px 6px;
    border-radius: 20px;
    color: white;
    background: #000;
    line-height: 0.8em;
    opacity: 1;
    transform: translateY(0);
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .swiper-title{
    font-size: 2vw;
  }
  
  .swiper-slide img{
    margin-top: 5vh;
    height: 35vh;
  }
}
@media (max-width: 600px) {
  #cartHolder{
    bottom: 2%;
    right: 2%;
    border-radius: 10px;
    height: 60px;
    width: 60px;
  }
}
@media (max-width: 520px){
  .swiper-slide img{
    margin-top: 7vh;
    height: 30vh;
  }

  .product .product-buy {
    top: 100%;
    width: 25%;
    height: 10%;
    left: 37.5%;
    padding: 10px 6px;
    border-radius: 20px;
    color: white;
    background: #000;
    line-height: 0.8em;
    opacity: 1;
    transform: translateY(0);
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-icon a {

    margin: 5px;
    
  }
  
}

@media (max-width: 410px){
  .swiper-slide img{
    margin-top: 5vh;
    height: 25vh;
  }
  
  .welcome{
    margin-top: 10%;
    font-size: 15px;
  }
  .product .product-buy {
    top: 100%;
    width: 25%;
    height: 10%;
    left: 37.5%;
    padding: 10px 6px;
    border-radius: 20px;
    color: white;
    background: #000;
    line-height: 0.8em;
    opacity: 1;
    transform: translateY(0);
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-icon a {
    height: 40px;
    width: 40px;
    
  }
  .social-icon a i {
    line-height: 40px;
    font-size: 20px;
  }
  #cartHolder{
    bottom: 2%;
    right: 2%;
    border-radius: 10px;
    height: 60px;
    width: 60px;
  }
}
@media (max-width: 350px) {

  .social-icon a {
    height: 40px;
    width: 40px;
    
  }
  .social-icon a i {
    line-height: 40px;
    font-size: 20px;
  }
}