@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Press+Start+2P&display=swap');
body{
    overflow: auto;
    height: 100%;
    min-height: 100vh;
 
}
html{
    height: fit-content;
    overflow:auto;
    min-height: 100%;
}
a,p{
    text-decoration: none;
    color: grey; 
}
p{
    pointer-events: none;
    margin: 0;
}
.cart,main{
    min-height: 100vh;
    height: 100% !important;
}
.cart{
    display: flex;
    align-items: center;
}
button{
    text-decoration: none !important;
    align-items: center;
}
.productQuantity{
    min-width: 5vw;
}
#checkOut{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}


.cards{
    height: 100%;
}

.payForm{
    display: none;
    border-radius: 20px;
    position: relative;
}
.cancel{
    position: absolute;
    top:3%;
    right: 8%;
    cursor: pointer;
}   
.animation{
    display: inline-block;
    transition: all 0.2s ease-in-out;
}
.animation:hover{
    transform: scale(1.10);
}
#pay{
    width: 20%;
}

.lottie{
    pointer-events: none;
    display: none;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
}
#add-pay-msg{
    pointer-events: none;
    position: fixed;
    top: 1%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 90;
    font-family: 'Poppins', sans-serif;
}
.alert.alert-success{
    text-align: center;
    display: none;
    margin: 0;
}
#paypal{
    font-size: 15px;
}
@media (min-width: 1025px) {
    .h-custom {
    height: 100% !important;
    }
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .bg-grey {
    background-color: #eae8e8;
    }
    
    @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
    
    @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }

    @media  (width<= 770px) {
        #checkOut .card , h6,h5{
            font-size: 15px;
            height: 90%;
    
        }
        #total h5{
            font-size: 20px;
        }
    
        .payForm{
            padding: 5% !important;
        }
        
    }
    @media screen and (width <= 640px) {
        #total{
            font-size: 30px !important;
        }
 
    }
    @media  (width<= 400px) {
        #checkOut{
            font-size: 15px;
        }
        h6,h5{
            font-size: 15px;
        }
        h6.my-0{
            margin-bottom: 1%;
        }
        h1{
            font-size: 20px;
        }
        span{
            font-size: 15px
        };
        
    }
    @media screen and (width<=320px) {
        .payForm, span.hidden-xs{
            font-size: 10px;
        }
        #paypal{
            font-size: 10px;
        }
    }