@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;

}

body{
  background-color: #000;
}



/* NAVBAR global */

.navbar{
    background-color: rgba(0,0,0,0);
    font-size: 15px;
    height: 70px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    transition: ease-in-out 0.3s;
}

.navbar.sticky{
  background: #131313;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    width: 100%;
    max-width: 1200px;
    z-index: 1;
    transition: ease-in-out 0.3s;
}

.navbar-menu{
     list-style: none;
     display: flex;
     align-items: center;
     transition: ease-in-out 0.3s;
}

.navbar-menu li{
    padding:10px;
}



.navbar-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
    text-decoration: none;
}

#navbar-logo{
    color: white;
    display: flex;
    align-items: center;
    font-size: 20px;
}

#navbar-logo p{
  font-family: 'Press Start 2P', cursive;
  
}


.navbar-links {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  position: relative;
}

.navbar-links p{
  padding: 10px;
}


.navbar-links:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 3%;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar-links:hover:after { 
  width: 100%; 
  left: 0; 
}

.signin-img{
  background: url("./Images/accounticon.png");
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;

}

.store-img{
  background: url("./Images/shoppingbag2.png");
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;

}

.alien-img{
  background: url("./Images/alien.png");
  background-size: cover;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;

}



#acc-dropdown {
  display: inline-block;
  position: relative;
}
#acc-dropdown:hover {
  background-color: #131313;
}
#acc-dropdown:hover > ul {
  transform: scaleY(1);
}
#acc-dropdown ul {
  width: 100%;
  background-color: #131313;
  box-shadow: 0 1px 6px 0 rgba(22, 22, 23, 0.2);
  transform: scaleY(0);
  transform-origin: top;
  transition-duration: 0.25s;
  position: absolute;
  left: 0;
  top: 100%;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  
}

#acc-dropdown ul li:hover > ul {
  transform: scaleY(1);
}

#acc-dropdown a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 15px 20px;

}

#acc-dropdown a p{
  padding: 10px;
}

#logout-btn{
  cursor: pointer;
  padding: 15px 10px !important;
  margin: 0;
}






/* Main page */



section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  overflow-x: hidden;


}
.scroll{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll a{
  width: 100px;
  height: 100px;
  font-size: 5vw;
  transition: all 0.3s ease-out;
  background: url("./Images/downarrow.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

   
}
.scroll a:hover{
  transform: scale(1.25);
}

.scroll{
  position: absolute;
  bottom: 8%;
}

section.title{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow:hidden;
}


.title .back-img{
  position: absolute;
  width: 120%;
  height:115vh;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.85), 
    rgba(30, 0, 30, 0.65)
  ),url("./Images/ninjavid.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: crisp-edges;
  background-blend-mode:multiply;
  z-index: -1;
}

section:nth-child(1){
  color: #fff;
  
}

section:nth-child(2)[background = "true"]{

  background: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)),url("./Images/background2.gif") center no-repeat;
  background-size: cover ;
  color: white;
  
}

section:nth-child(3)[background = "true"]{
  color: white;
  background:linear-gradient(
    rgba(0, 0, 0, 0.8), 
    rgba(0, 0, 0, 0.8)
  ),url("./Images/background3.gif") ;
  background-repeat: no-repeat;
  background-size:cover ;
  
  
}


section:nth-child(4)[background = "true"]{
  background: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ),center url("./Images/background4.gif");
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}
section:nth-child(5)[background = "true"]{
  background: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ),center url("./Images/background5.gif");
  color: white;
  background-repeat: no-repeat;
  background-size:cover ;
}



.cards  img{
  width: 100%;
  height: 100%;
  

}

.classimg{
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 12px 29px 81px 15px rgba(0,0,0,0.95);
  -moz-box-shadow: 12px 29px 81px 15px rgba(0,0,0,0.95);
  box-shadow: 12px 29px 81px 15px rgba(0,0,0,0.95);
}

.statimg{
  margin-top: 5%;
}

.container{
  display: flex;
  margin: 5vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
section h1{
  font-size: 80px;
  color: #fff;
  width: 100%;
  text-align: center;
  outline: none;
  pointer-events: none;
  line-height: 120px;

}

section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.title  h3{
  font-size: 23px;
  font-weight: 300;
  text-align: center;
  color: #ccc;
}

section h3{
  font-size: 33px;
  font-weight: 700;
  text-align: center;
  color: #ccc;
}

.createacc-btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 30px;
  letter-spacing: 4px;
}

.createacc-btn a{
  text-decoration: none;
  color: white;
}

.createacc-btn:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
              
}

.createacc-btn span {
  position: absolute;
  display: block;
}

.createacc-btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: btn-anim1 1s linear infinite;
}
  @keyframes btn-anim1 {
      0% {
        left: -100%;
      }
      50%,100% {
        left: 100%;
      }
    }

    .createacc-btn span:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #fff);
      animation: btn-anim2 1s linear infinite;
      animation-delay: .25s;
    }

    @keyframes btn-anim2 {
      0% {
        top: -100%;
      }
      50%,100% {
        top: 100%;
      }
    }

    .createacc-btn span:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, #fff);
      animation: btn-anim3 1s linear infinite;
      animation-delay: .5s;
    }

    @keyframes btn-anim3 {
      0% {
        right: -100%;
      }
      50%,100% {
        right: 100%;
      }
    }

    .createacc-btn span:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, #fff);
      animation: btn-anim4 1s linear infinite;
      animation-delay: .75s;
    }

    @keyframes btn-anim4 {
      0% {
        bottom: -100%;
      }
      50%,100% {
        bottom: 100%;
      }
    }

@keyframes animate{
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
    color: #fff;
    text-shadow: none;
  }
  18.1%,20.1%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
    color:#fff;
    text-shadow: 0 0 10px #03bcf4,
    0 0 2vw #03bcf4,
    0 0 4vw #03bcf4,
    0 0 8vw #03bcf4,
    0 0 16vw #03bcf4,
    0 0 20vw #03bcf4;

  
  }
}


section .cards {
  margin: 2vw;
  width: 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.cards p{
  line-height: 35px;
}
.cards h3{
  line-height: 75px;
}


.reveal{
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: all 1s ease;

}
.reveal.active{
  transform: translateX(0px);
  opacity: 1;
}
#start.reveal{
  position: relative;
  transform: translateY(-150px);
  opacity: 0;
  transition: all 1s ease;

}
#start.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}





.aboutUs{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30vw;
  text-align: center;
}
.aboutUs > div{
  display: flex;
  width: inherit; 
  flex-direction: row; 
  justify-content: space-around; 
  justify-content: center;
}
.aboutUs h2{
  font-size: 70px;
}
.lottie{
  padding: 0;
  width: 200px; 
  height: 200px;
}

/* FOOTER */

.footer-container{
  width: 100%;
  height: 40vh;
  background-color: #f3f3f3;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-menu{
  position: relative;
  display: flex;
}

.social-icon{
  position: relative;
}

.social-icon a{
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  margin: 0 12px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.3);
  transform: translateY(0) scale(1);
  transition: 0.3s;
}

.social-icon:hover a{
  transform: translateY(-10px) scale(1.2);
}
/*changing of background color for the icons for hover animation*/
.social-icon:nth-child(1):hover a{
  background: #00acee;
}

.social-icon:nth-child(2):hover a{
  background: #3b5998;
}
.social-icon:nth-child(3):hover a{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.social-icon:nth-child(4):hover a{
  background: black;
}
.social-icon:nth-child(5):hover a{
  background: #FF0000;
}
/*changing of the color of icons for hover animation*/
.social-icon:nth-child(1):hover a i,.social-icon:nth-child(2):hover a i,.social-icon:nth-child(3):hover a i,.social-icon:nth-child(4):hover a i,.social-icon:nth-child(5):hover a i{
  color: white;
}

.social-icon a i{
  font-size: 30px;
  color: #000;
  line-height: 60px;
}

.social-icon span{
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%,-50%) scale(0);
  font-size:16px;
  z-index: 1;
  transition: 0.3s;

}

#footer{
  min-height: 50vh;
}











@media (max-width: 1024px){

  .container{
    flex-direction: column;
  }
  section .cards{
    width: 45vw;
  }

  section h1{
    line-height: 100px;
    max-width: 700px;
  }
  #footer{
    flex-direction: row;
  }
  #footer .container{
    flex-direction: row;
  }
  .title h3{
    font-size: 23px;
    max-width: 500px;
  }

  .aboutUs{
    width: 36vw;
  }

}


@media (max-width: 768px){
  
  /* NAVBAR */
  .navbar-container{
      padding: 0;
  }
  
  .navbar-menu{
      display:grid;
      grid-template-columns: auto;
      top: -1000px;
      opacity: 0;
      transition: all 0.3s ease;
      height: 200px;
      z-index: -1;
      width: 100%;
      position: absolute;
  }

  .navbar-menu.active{
      background: #131313;
      top: 100%;
      padding: 0;
      opacity: 1;
      transition: all 0.3s ease;
      z-index: 999;
      height: 200px;
      font-size: 12px;

  }

  .navbar-toggle .bar{
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: white;
      display: block;
      cursor: pointer;
  }

  .navbar-menu li{
      padding:0;
  }

  .navbar-button{
      width: 100%;
  }

  .navbar-links{
      padding: 0;
      margin: 0;
      left: 0;
      right: 0; 
  }

  

  #navbar-logo{
      padding-left: 25px;
  }


  #mobile-menu{
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
  }

  #mobile-menu.is-active .bar:nth-child(2){
      opacity: 0;
  }
  
  #mobile-menu.is-active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
  }


  /* MAIN CONTENT 768 */
  .aboutUs h2{
    font-size: 50px;
  }
  .lottie{
    width: 170px; 
    height: 170px;

  }
  section .cards{
    width: 60vw;
  }
  .container{
    flex-direction: column;
  }
  .scroll > a{
    font-size: 10vw;    
  }

  .aboutUs{
    width: 40vw;
  }

}


@media screen and (width<=600px) {
  #cartHolder{
    bottom: 2%;
    right: 2%;
    border-radius: 10px;
    height: 60px;
    width: 60px;
  }
}

@media (max-width: 640px){
  section h1{
    line-height: 75px;
    max-width: 700px;
    font-size: 60px;
  }

  .title h3{
    font-size: 18px;
    max-width: 400px;
  }

  section .cards{
    width: 70vw;
  }

}
@media screen and (width<=520px) {
  .social-icon a {

    margin: 5px;
    
  }

}
@media (max-width: 500px){
  section h1{
    line-height: 55px;
    max-width: 400px;
    font-size: 48px;
  }

  .title h3{
    font-size: 15px;
    max-width: 300px;
  }

  .cards h3{
    line-height: 50px;
    margin-bottom: 10px;
  }
  #footer{
    min-height: 30vh;
  }
}
@media screen and (width<=410px){
  
  .social-icon a {
    height: 50px;
    width: 50px;
    
  }
  .social-icon a i {
    line-height: 50px;
    font-size: 25px;
  }

}
@media screen and (width<=350px) {
  .social-icon a {
    height: 40px;
    width: 40px;
    
  }
  .social-icon a i {
    line-height: 40px;
    font-size: 20px;
  }
}