@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* NAVBAR global */
.navbar{
    background-color: white;
    font-size: 15px;
    height: 70px;
    position: sticky;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    width: 100%;
    max-width: 1200px;
    z-index: 1;
}

.navbar-menu{
     list-style: none;
     display: flex;
     align-items: center;
}

.navbar-menu li{
    padding:10px;
}

a{
    text-decoration: none;
}

#navbar-logo{
    color: #7724ff;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

.navbar-links{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.navbar-links:hover{
    color:#7724ff;
    transition: all 0.2s ease;
}


/* Main page */
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;

}
body{
  background-color: #1D212B;
  overflow-x: hidden;
}
section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;

}
.gameShow{
  position: absolute;
  z-index: 5;
  background:rgba(255, 255, 255, 0.2) ;
  box-shadow: 0 4px 14px  rgba(0,0, 0, 0.5) ;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 20vw;
  pointer-events: none;
}

.gameShow img{
  width: 80%;
  height: 80%;
}

section.title{
  flex-direction: column;
}
section:nth-child(1){
  color: #fff;
  background-image: url("Images/starsky.gif");
  
}

section:nth-child(3)[background = "true"]{
  color: white;
  background:url("https://i.pinimg.com/originals/40/1a/4f/401a4fc4d65f0822a340d79d256fe449.gif") ;
  background-repeat: no-repeat;
  background-size:cover ;
  
}
.testing{
  display: flex;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  background-color:  white;
}
.testing >h1{
  color:rgb(207,207,207);
  text-shadow:   0px 0px 1px rgb(167,167,167),
  0px 1px 1px rgb(167,167,167),
  0px 2px 1px rgb(167,167,167),

  1px 1px 1px rgb(167,167,167),
  1px 2px 1px rgb(167,167,167),
  1px 3px 1px rgb(167,167,167),

  2px 2px 1px rgb(167,167,167),
  2px 3px 1px rgb(167,167,167),
  2px 4px 1px rgb(167,167,167);


}
@keyframes cycle {
  0% { text-shadow: 0px 0px 100px rgba(11,124,199,0.5);}
  20% { text-shadow: 0px 0px 100px rgba(168,11,199,0.5);}
  40% { text-shadow: 0px 0px 100px rgba(11,199,96,0.5);}
  60% { text-shadow: 0px 0px 100px rgba(199,11,11,0.5);}
  80% { text-shadow: 0px 0px 100px rgba(199,96,11,0.5);}
}
section:nth-child(4)[background = "true"]{
  background: center url("https://i.pinimg.com/originals/43/0e/9a/430e9abb2039e992275efb898c5948c1.gif");
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}
section:nth-child(5)[background = "true"]{
  background: center url("https://i.pinimg.com/originals/ce/b5/74/ceb574258cb71c79ba07a841b38d50a8.gif");
  color: white;
  background-repeat: no-repeat;
  background-size:cover ;
}
section:nth-child(6){
  color: #fff;
}
.cards > img{
  width: 30vw;
  height: 20vw;
}
.container{
  display: flex;
  margin: 100px;
  flex-direction: row;
}
section h1{
  font-size: 60px;
  color: #0e3742;
  width: 100%;
  text-align: center;
  line-height: 0.7em;
  outline: none;
  animation: animate 5s linear infinite;
  
}

@keyframes animate{
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
    color: #0e3742;
    text-shadow: none;
  }
  18.1%,20.1%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
    color:#fff;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4,
    0 0 20px #03bcf4;

  
  }
}

section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .cards {
  background:rgba(255, 255, 255, 0.2) ;
  box-shadow: 0 4px 14px  rgba(0,0, 0, 0.5) ;
  margin: 20px;
  padding: 20px;
}

.reveal{
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: all 1s ease;

}
.reveal.active{
  transform: translateX(0px);
  opacity: 1;
}


.homepage-main-banner {
  height: 90vh;
  width: 100%;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homepage-main-banner a{
  background-color: black;
  width: 8%;
  height: 5vh;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.selectclass-main-banner{
  height: 90vh;
  width: 100%;
  background: url("https://i.pinmg.com/originals/97/e9/79/97e979731beadb50be38e6e273ebfeef.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
}

.selectclass-main-banner h1{
  color: white;
}

.campfire{
  /* border: 1px solid red; */
  width: 30%;
  height: 60vh;
  background: url("./Images/fire.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-position: center;
  top: 35%;
  z-index: 9999;
}

.campfire-knight{
  /* border: 1px solid red; */
  width: 15%;
  height: 25vh;
  background: url("./Images/knightsingle.png");
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-position: center;
  top: 57%;
  left: 18%;
}



